services:
    redis:
        image: redis:alpine
        container_name: redis-server
        restart: always
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        command: redis-server --save 60 1 --loglevel warning
volumes:
    redis_data: